@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}
