@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --font-gendy: "Gendy", sans-serif;
  --font-alkia: "Alkia", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-gendy: var(--font-gendy);
  --font-alkia: var(--font-alkia);
}

html {
  overflow-x: hidden;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", Arial, Helvetica, sans-serif;
}
